body {
    background-image: url(../Image/Background.jpg);
    background-size: cover;
}
#Loading {
    position: absolute;
    width: 50px;
    top: 50%;
    right: 50%;
}

#MeunButton {
    position: fixed; /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
    /*width:1200px;*/
    top: 10px; /*設置垂直位置*/
    /*right: 100px;*/ /*設置水平位置，依所放的內容多寡需要自行手動調整*/
    left:500px;
    margin-left:auto;
    margin-right:auto;
    background: #ffffff; /*背景顏色*/
    padding: 10px 20px;
    border-radius: 10px; /*圓角*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
ul {
    margin:0;
        padding:0;
        list-style:none;
}

    ul.DropMenu {
        border:#ccc 1px solid;
        display:inline-block;
        font-family:'Open Sans',Arial,sans-serif;
        font-size:13px;
    }

    ul.DropMenu li {
        position:relative;
        white-space:nowrap;
        border-right:#ccc 1px solid;
    }

    ul.DropMenu > li:last-child {
        border-right:none;
    }
    ul.DropMenu > li {
        float:left;
    }

    ul.DropMenu a {
        background-color:#fff;
        color:#333;
        display:block;
        padding:0 30px;
        text-decoration:none;
        line-height:40px;
    }

    ul.DropMenu a:hover {
        background-color:#ef5c28;
        color:#fff;
    }

    ul.DropMenu ul {
        border:#ccc 1px solid;
        position:absolute;
        z-index:99;
        left:-1px;
        top:100%;
        min-width:180px;
    }
    ul.DropMenu ul li {
        border-bottom:#ccc 1px solid;
    }
    ul.DropMenu ul li:last-child {
        border-bottom:none;
    }

    ul.DropMenu ul {
        display: none; /*平時先隱藏起來*/
    }

    ul.DropMenu li:hover > ul {
        display:block;
    }



/*商品CSS*/
.Item {
    width: 240px;
    margin: 10px;
    display: inline-block; /*讓顯示有排版*/
    vertical-align: top; /*垂直靠上*/
}
/*商品介面區塊設定*/
#UserView {
    width: 1200px;
    /*設定左右靠其*/
    margin-left: auto;
    margin-right: auto;
    padding-top:60px;
}
